$b = "list"

.{$b}
  display: flex
  flex-wrap: wrap
  width: calc(100% + 30px)

.{$b}_item
  display: block
  width: 380px
  margin-right: 30px
  margin-bottom: 30px
  box-sizing: border-box
  border: 1px solid #eee
  position: relative

.{$b}_item-bg
  width: 100%
  height: 400px
  background-color: #eee
  background-size: cover
  background-position: center

.{$b}_item-info
  box-sizing: border-box
  background-color: #fff
  padding: 30px 20px 40px

.{$b}_item-title
  font-size: 20px
  font-family: ProximaNovaSemibold, sans-serif
  line-height: 28px
  padding-bottom: 15px

.{$b}_item-year
  font-size: 18px

.{$b}_item-link
  display: block
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 2
