$b = "page";

.{$b}
  display: block
  padding-top: 30px
  padding-bottom: 50px

.{$b}_info
  display: flex
  justify-content: space-between
  width: 100%
  margin-bottom: 30px

.{$b}_info-image
  display: block
  width: 350px
  height: 500px
  background-size: cover
  background-position: center

.{$b}_info-texts
  display: block
  width: calc(100% - 400px)

.{$b}_info-text-block
  display: block
  width: 100%
  margin-bottom: 20px

.{$b}_info-title
  font-family: ProximaNovaSemibold, sans-serif
  font-size: 30px

.{$b}_info-subtitle
  font-size: 20px
  display: inline-block
  vertical-align: top
  font-style: italic
  text-decoration: underline

.{$b}_info-text
  font-size: 20px
  display: inline-block
  vertical-align: top
  margin-left: 20px

.{$b}_info-description-block
  margin-bottom: 20px

.{$b}_subtitle
  font-family: ProximaNovaSemibold, sans-serif
  font-size: 23px
  padding-bottom: 10px

.{$b}_text
  font-size: 20px
  line-height: 29px
