$b = "search"

.{$b}
  display: block
  width: 100%
  position: relative

.{$b}_input
  display: block
  width: calc(100% - 60px)
  border: none
  outline: none
  height: 50px
  background-color: #fff
  font-size: 20px
  padding: 0 30px
  box-sizing: border-box
  color: #000

.{$b}_button
  display: block
  position: absolute
  right: 0
  top: 0
  height: 50px
  width: 50px
  background: none
  border: none
  outline: none

  svg
    fill: #fff
