@import "./common/reset";
@import "./common/fonts";
@import "./blocks/menu";
@import "./blocks/home";
@import "./blocks/search";
@import "./blocks/list";
@import "./blocks/page";


html, body
  background-color: #feffef
  -webkit-font-smoothing: antialiased
  overflow-x: hidden
  font-size: 16px
  font-family: ProximaNovaRegular, sans-serif

.inner-wrapper
  width: 1200px
  display: block
  margin: 0 auto
  position: relative

.content
  margin-top: 83px
